.root {
    list-style-type: none;
    margin: 1rem 0;
    text-align: center;

    margin: 0 -1.5rem;
    padding: 1.5rem;

    &:nth-child(even) {
        background-color: rgb(245, 245, 245);
    }
}
