.root {
    margin: 0 0 2rem 0;
}

.qrContainer {
    margin: 2em 0;
    text-align: center;
}

.toilet {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 20px;
    background-color: rgba(255, 0, 255, .5);
    background-position: 250px 140px;
}




